.x-treelist-row {
  background-color: #ededed;
  font-size: 18px;
  line-height: 22px;
}

.x-treelist {
  background-color: #ededed;
}

.x-treelist-item-text {
   font-size: 18px;
}

.x-treelist-toolstrip {
    background-color: #EDEDED;
}