$app-name:  dynamic( 'TradeStorm' );
$image-search-path: 'sencha_artifacts/build/development/TradeStorm/classic/resources';
$theme-name:  dynamic( 'theme-tradestorm' );
$include-ext-abstractcomponent: dynamic(true);;
$include-ext-abstractcontainer: dynamic(true);;
$include-ext-abstractmanager: dynamic(true);;
$include-ext-abstractplugin: dynamic(true);;
$include-ext-abstractselectionmodel: dynamic(true);;
$include-ext-action: dynamic(true);;
$include-ext-ajax: dynamic(true);;
$include-ext-animationqueue: dynamic(true);;
$include-ext-animator: dynamic(true);;
$include-ext-boundlist: dynamic(true);;
$include-ext-button: dynamic(true);;
$include-ext-buttongroup: dynamic(true);;
$include-ext-buttontogglemanager: dynamic(true);;
$include-ext-colorpalette: dynamic(true);;
$include-ext-component: dynamic(true);;
$include-ext-componentloader: dynamic(true);;
$include-ext-componentmanager: dynamic(true);;
$include-ext-componentmgr: dynamic(true);;
$include-ext-componentquery: dynamic(true);;
$include-ext-compositeelement: dynamic(true);;
$include-ext-compositeelementlite: dynamic(true);;
$include-ext-container: dynamic(true);;
$include-ext-cyclebutton: dynamic(true);;
$include-ext-dataview: dynamic(true);;
$include-ext-datepicker: dynamic(true);;
$include-ext-deferred: dynamic(true);;
$include-ext-direct-transaction: dynamic(true);;
$include-ext-domhelper: dynamic(true);;
$include-ext-domquery: dynamic(true);;
$include-ext-editor: dynamic(true);;
$include-ext-element: dynamic(true);;
$include-ext-elementloader: dynamic(true);;
$include-ext-eventmanager: dynamic(true);;
$include-ext-eventobjectimpl: dynamic(true);;
$include-ext-evented: dynamic(true);;
$include-ext-eventedbase: dynamic(true);;
$include-ext-flashcomponent: dynamic(true);;
$include-ext-formpanel: dynamic(true);;
$include-ext-globalevents: dynamic(true);;
$include-ext-history: dynamic(true);;
$include-ext-img: dynamic(true);;
$include-ext-itemcollection: dynamic(true);;
$include-ext-keymap: dynamic(true);;
$include-ext-keynav: dynamic(true);;
$include-ext-layer: dynamic(true);;
$include-ext-listview: dynamic(true);;
$include-ext-loadmask: dynamic(true);;
$include-ext-mixin: dynamic(true);;
$include-ext-modelmgr: dynamic(true);;
$include-ext-monthpicker: dynamic(true);;
$include-ext-pagingtoolbar: dynamic(true);;
$include-ext-panel: dynamic(true);;
$include-ext-perf: dynamic(true);;
$include-ext-pluginmanager: dynamic(true);;
$include-ext-pluginmgr: dynamic(true);;
$include-ext-progressbar: dynamic(true);;
$include-ext-progressbarwidget: dynamic(true);;
$include-ext-promise: dynamic(true);;
$include-ext-propgridproperty: dynamic(true);;
$include-ext-quicktip: dynamic(true);;
$include-ext-quicktips: dynamic(true);;
$include-ext-resizable: dynamic(true);;
$include-ext-shadow: dynamic(true);;
$include-ext-slider: dynamic(true);;
$include-ext-splitbutton: dynamic(true);;
$include-ext-storemanager: dynamic(true);;
$include-ext-storemgr: dynamic(true);;
$include-ext-tabpanel: dynamic(true);;
$include-ext-taskmanager: dynamic(true);;
$include-ext-taskqueue: dynamic(true);;
$include-ext-template: dynamic(true);;
$include-ext-tip: dynamic(true);;
$include-ext-tooltip: dynamic(true);;
$include-ext-toolbar: dynamic(true);;
$include-ext-toolbar-fill: dynamic(true);;
$include-ext-toolbar-item: dynamic(true);;
$include-ext-toolbar-separator: dynamic(true);;
$include-ext-toolbar-spacer: dynamic(true);;
$include-ext-toolbar-textitem: dynamic(true);;
$include-ext-treepanel: dynamic(true);;
$include-ext-viewport: dynamic(true);;
$include-ext-widget: dynamic(true);;
$include-ext-window: dynamic(true);;
$include-ext-windowgroup: dynamic(true);;
$include-ext-xtemplate: dynamic(true);;
$include-ext-zindexmanager: dynamic(true);;
$include-ext-app-application: dynamic(true);;
$include-ext-app-basecontroller: dynamic(true);;
$include-ext-app-controller: dynamic(true);;
$include-ext-app-eventbus: dynamic(true);;
$include-ext-app-eventdomain: dynamic(true);;
$include-ext-app-profile: dynamic(true);;
$include-ext-app-util: dynamic(true);;
$include-ext-app-viewcontroller: dynamic(true);;
$include-ext-app-viewmodel: dynamic(true);;
$include-ext-app-bind-abstractstub: dynamic(true);;
$include-ext-app-bind-basebinding: dynamic(true);;
$include-ext-app-bind-binding: dynamic(true);;
$include-ext-app-bind-formula: dynamic(true);;
$include-ext-app-bind-linkstub: dynamic(true);;
$include-ext-app-bind-multi: dynamic(true);;
$include-ext-app-bind-rootstub: dynamic(true);;
$include-ext-app-bind-stub: dynamic(true);;
$include-ext-app-bind-template: dynamic(true);;
$include-ext-app-bind-templatebinding: dynamic(true);;
$include-ext-app-domain-component: dynamic(true);;
$include-ext-app-domain-controller: dynamic(true);;
$include-ext-app-domain-direct: dynamic(true);;
$include-ext-app-domain-global: dynamic(true);;
$include-ext-app-domain-store: dynamic(true);;
$include-ext-app-domain-view: dynamic(true);;
$include-ext-app-route-queue: dynamic(true);;
$include-ext-app-route-route: dynamic(true);;
$include-ext-app-route-router: dynamic(true);;
$include-ext-button-button: dynamic(true);;
$include-ext-button-cycle: dynamic(true);;
$include-ext-button-manager: dynamic(true);;
$include-ext-button-segmented: dynamic(true);;
$include-ext-button-split: dynamic(true);;
$include-ext-chart-abstractchart: dynamic(true);;
$include-ext-chart-cartesianchart: dynamic(true);;
$include-ext-chart-chart: dynamic(true);;
$include-ext-chart-legend: dynamic(true);;
$include-ext-chart-legendbase: dynamic(true);;
$include-ext-chart-markerholder: dynamic(true);;
$include-ext-chart-markers: dynamic(true);;
$include-ext-chart-polarchart: dynamic(true);;
$include-ext-chart-spacefillingchart: dynamic(true);;
$include-ext-chart-tipsurface: dynamic(true);;
$include-ext-chart-axis-axis: dynamic(true);;
$include-ext-chart-axis-axis3d: dynamic(true);;
$include-ext-chart-axis-category: dynamic(true);;
$include-ext-chart-axis-category3d: dynamic(true);;
$include-ext-chart-axis-numeric: dynamic(true);;
$include-ext-chart-axis-numeric3d: dynamic(true);;
$include-ext-chart-axis-time: dynamic(true);;
$include-ext-chart-axis-time3d: dynamic(true);;
$include-ext-chart-axis-layout-combineduplicate: dynamic(true);;
$include-ext-chart-axis-layout-continuous: dynamic(true);;
$include-ext-chart-axis-layout-discrete: dynamic(true);;
$include-ext-chart-axis-layout-layout: dynamic(true);;
$include-ext-chart-axis-segmenter-names: dynamic(true);;
$include-ext-chart-axis-segmenter-numeric: dynamic(true);;
$include-ext-chart-axis-segmenter-segmenter: dynamic(true);;
$include-ext-chart-axis-segmenter-time: dynamic(true);;
$include-ext-chart-axis-sprite-axis: dynamic(true);;
$include-ext-chart-axis-sprite-axis3d: dynamic(true);;
$include-ext-chart-grid-circulargrid: dynamic(true);;
$include-ext-chart-grid-horizontalgrid: dynamic(true);;
$include-ext-chart-grid-horizontalgrid3d: dynamic(true);;
$include-ext-chart-grid-radialgrid: dynamic(true);;
$include-ext-chart-grid-verticalgrid: dynamic(true);;
$include-ext-chart-grid-verticalgrid3d: dynamic(true);;
$include-ext-chart-interactions-abstract: dynamic(true);;
$include-ext-chart-interactions-crosszoom: dynamic(true);;
$include-ext-chart-interactions-crosshair: dynamic(true);;
$include-ext-chart-interactions-itemedit: dynamic(true);;
$include-ext-chart-interactions-itemhighlight: dynamic(true);;
$include-ext-chart-interactions-iteminfo: dynamic(true);;
$include-ext-chart-interactions-panzoom: dynamic(true);;
$include-ext-chart-interactions-rotate: dynamic(true);;
$include-ext-chart-interactions-rotatepie3d: dynamic(true);;
$include-ext-chart-label-callout: dynamic(true);;
$include-ext-chart-label-label: dynamic(true);;
$include-ext-chart-overrides-abstractchart: dynamic(true);;
$include-ext-chart-plugin-itemevents: dynamic(true);;
$include-ext-chart-series-area: dynamic(true);;
$include-ext-chart-series-bar: dynamic(true);;
$include-ext-chart-series-bar3d: dynamic(true);;
$include-ext-chart-series-candlestick: dynamic(true);;
$include-ext-chart-series-cartesian: dynamic(true);;
$include-ext-chart-series-gauge: dynamic(true);;
$include-ext-chart-series-line: dynamic(true);;
$include-ext-chart-series-pie: dynamic(true);;
$include-ext-chart-series-pie3d: dynamic(true);;
$include-ext-chart-series-polar: dynamic(true);;
$include-ext-chart-series-radar: dynamic(true);;
$include-ext-chart-series-scatter: dynamic(true);;
$include-ext-chart-series-series: dynamic(true);;
$include-ext-chart-series-stackedcartesian: dynamic(true);;
$include-ext-chart-series-sprite-aggregative: dynamic(true);;
$include-ext-chart-series-sprite-area: dynamic(true);;
$include-ext-chart-series-sprite-bar: dynamic(true);;
$include-ext-chart-series-sprite-bar3d: dynamic(true);;
$include-ext-chart-series-sprite-box: dynamic(true);;
$include-ext-chart-series-sprite-candlestick: dynamic(true);;
$include-ext-chart-series-sprite-cartesian: dynamic(true);;
$include-ext-chart-series-sprite-line: dynamic(true);;
$include-ext-chart-series-sprite-pie3dpart: dynamic(true);;
$include-ext-chart-series-sprite-pieslice: dynamic(true);;
$include-ext-chart-series-sprite-polar: dynamic(true);;
$include-ext-chart-series-sprite-radar: dynamic(true);;
$include-ext-chart-series-sprite-scatter: dynamic(true);;
$include-ext-chart-series-sprite-series: dynamic(true);;
$include-ext-chart-series-sprite-stackedcartesian: dynamic(true);;
$include-ext-chart-theme-base: dynamic(true);;
$include-ext-chart-theme-blue: dynamic(true);;
$include-ext-chart-theme-bluegradients: dynamic(true);;
$include-ext-chart-theme-category1: dynamic(true);;
$include-ext-chart-theme-category1gradients: dynamic(true);;
$include-ext-chart-theme-category2: dynamic(true);;
$include-ext-chart-theme-category2gradients: dynamic(true);;
$include-ext-chart-theme-category3: dynamic(true);;
$include-ext-chart-theme-category3gradients: dynamic(true);;
$include-ext-chart-theme-category4: dynamic(true);;
$include-ext-chart-theme-category4gradients: dynamic(true);;
$include-ext-chart-theme-category5: dynamic(true);;
$include-ext-chart-theme-category5gradients: dynamic(true);;
$include-ext-chart-theme-category6: dynamic(true);;
$include-ext-chart-theme-category6gradients: dynamic(true);;
$include-ext-chart-theme-default: dynamic(true);;
$include-ext-chart-theme-defaultgradients: dynamic(true);;
$include-ext-chart-theme-green: dynamic(true);;
$include-ext-chart-theme-greengradients: dynamic(true);;
$include-ext-chart-theme-midnight: dynamic(true);;
$include-ext-chart-theme-muted: dynamic(true);;
$include-ext-chart-theme-purple: dynamic(true);;
$include-ext-chart-theme-purplegradients: dynamic(true);;
$include-ext-chart-theme-red: dynamic(true);;
$include-ext-chart-theme-redgradients: dynamic(true);;
$include-ext-chart-theme-sky: dynamic(true);;
$include-ext-chart-theme-skygradients: dynamic(true);;
$include-ext-chart-theme-yellow: dynamic(true);;
$include-ext-chart-theme-yellowgradients: dynamic(true);;
$include-ext-container-buttongroup: dynamic(true);;
$include-ext-container-container: dynamic(true);;
$include-ext-container-dockingcontainer: dynamic(true);;
$include-ext-container-monitor: dynamic(true);;
$include-ext-container-viewport: dynamic(true);;
$include-ext-core-domhelper: dynamic(true);;
$include-ext-core-domquery: dynamic(true);;
$include-ext-dashboard-column: dynamic(true);;
$include-ext-dashboard-dashboard: dynamic(true);;
$include-ext-dashboard-dropzone: dynamic(true);;
$include-ext-dashboard-panel: dynamic(true);;
$include-ext-dashboard-part: dynamic(true);;
$include-ext-data-abstractstore: dynamic(true);;
$include-ext-data-ajaxproxy: dynamic(true);;
$include-ext-data-arrayreader: dynamic(true);;
$include-ext-data-arraystore: dynamic(true);;
$include-ext-data-batch: dynamic(true);;
$include-ext-data-bufferedstore: dynamic(true);;
$include-ext-data-chainedstore: dynamic(true);;
$include-ext-data-clientproxy: dynamic(true);;
$include-ext-data-connection: dynamic(true);;
$include-ext-data-dataproxy: dynamic(true);;
$include-ext-data-datareader: dynamic(true);;
$include-ext-data-datawriter: dynamic(true);;
$include-ext-data-directproxy: dynamic(true);;
$include-ext-data-directstore: dynamic(true);;
$include-ext-data-error: dynamic(true);;
$include-ext-data-errorcollection: dynamic(true);;
$include-ext-data-errors: dynamic(true);;
$include-ext-data-field: dynamic(true);;
$include-ext-data-httpproxy: dynamic(true);;
$include-ext-data-jsonp: dynamic(true);;
$include-ext-data-jsonpstore: dynamic(true);;
$include-ext-data-jsonreader: dynamic(true);;
$include-ext-data-jsonstore: dynamic(true);;
$include-ext-data-jsonwriter: dynamic(true);;
$include-ext-data-localstorageproxy: dynamic(true);;
$include-ext-data-localstore: dynamic(true);;
$include-ext-data-memoryproxy: dynamic(true);;
$include-ext-data-model: dynamic(true);;
$include-ext-data-modelmanager: dynamic(true);;
$include-ext-data-nodeinterface: dynamic(true);;
$include-ext-data-nodestore: dynamic(true);;
$include-ext-data-operation: dynamic(true);;
$include-ext-data-pagemap: dynamic(true);;
$include-ext-data-pagingmemoryproxy: dynamic(true);;
$include-ext-data-proxy: dynamic(true);;
$include-ext-data-proxystore: dynamic(true);;
$include-ext-data-reader: dynamic(true);;
$include-ext-data-record: dynamic(true);;
$include-ext-data-request: dynamic(true);;
$include-ext-data-restproxy: dynamic(true);;
$include-ext-data-resultset: dynamic(true);;
$include-ext-data-scripttagproxy: dynamic(true);;
$include-ext-data-serverproxy: dynamic(true);;
$include-ext-data-session: dynamic(true);;
$include-ext-data-sessionstorageproxy: dynamic(true);;
$include-ext-data-simplestore: dynamic(true);;
$include-ext-data-sorttypes: dynamic(true);;
$include-ext-data-store: dynamic(true);;
$include-ext-data-storemanager: dynamic(true);;
$include-ext-data-storemgr: dynamic(true);;
$include-ext-data-treemodel: dynamic(true);;
$include-ext-data-treestore: dynamic(true);;
$include-ext-data-types: dynamic(true);;
$include-ext-data-validation: dynamic(true);;
$include-ext-data-webstorageproxy: dynamic(true);;
$include-ext-data-writer: dynamic(true);;
$include-ext-data-xmlreader: dynamic(true);;
$include-ext-data-xmlstore: dynamic(true);;
$include-ext-data-xmlwriter: dynamic(true);;
$include-ext-data-field-boolean: dynamic(true);;
$include-ext-data-field-date: dynamic(true);;
$include-ext-data-field-field: dynamic(true);;
$include-ext-data-field-integer: dynamic(true);;
$include-ext-data-field-number: dynamic(true);;
$include-ext-data-field-string: dynamic(true);;
$include-ext-data-flash-binaryxhr: dynamic(true);;
$include-ext-data-identifier-generator: dynamic(true);;
$include-ext-data-identifier-negative: dynamic(true);;
$include-ext-data-identifier-sequential: dynamic(true);;
$include-ext-data-identifier-uuid: dynamic(true);;
$include-ext-data-matrix-matrix: dynamic(true);;
$include-ext-data-matrix-side: dynamic(true);;
$include-ext-data-matrix-slice: dynamic(true);;
$include-ext-data-operation-create: dynamic(true);;
$include-ext-data-operation-destroy: dynamic(true);;
$include-ext-data-operation-operation: dynamic(true);;
$include-ext-data-operation-read: dynamic(true);;
$include-ext-data-operation-update: dynamic(true);;
$include-ext-data-proxy-ajax: dynamic(true);;
$include-ext-data-proxy-client: dynamic(true);;
$include-ext-data-proxy-direct: dynamic(true);;
$include-ext-data-proxy-jsonp: dynamic(true);;
$include-ext-data-proxy-localstorage: dynamic(true);;
$include-ext-data-proxy-memory: dynamic(true);;
$include-ext-data-proxy-proxy: dynamic(true);;
$include-ext-data-proxy-rest: dynamic(true);;
$include-ext-data-proxy-server: dynamic(true);;
$include-ext-data-proxy-sessionstorage: dynamic(true);;
$include-ext-data-proxy-webstorage: dynamic(true);;
$include-ext-data-reader-array: dynamic(true);;
$include-ext-data-reader-json: dynamic(true);;
$include-ext-data-reader-reader: dynamic(true);;
$include-ext-data-reader-xml: dynamic(true);;
$include-ext-data-request-ajax: dynamic(true);;
$include-ext-data-request-base: dynamic(true);;
$include-ext-data-request-form: dynamic(true);;
$include-ext-data-schema-association: dynamic(true);;
$include-ext-data-schema-manytomany: dynamic(true);;
$include-ext-data-schema-manytoone: dynamic(true);;
$include-ext-data-schema-namer: dynamic(true);;
$include-ext-data-schema-onetoone: dynamic(true);;
$include-ext-data-schema-role: dynamic(true);;
$include-ext-data-schema-schema: dynamic(true);;
$include-ext-data-session-batchvisitor: dynamic(true);;
$include-ext-data-session-changesvisitor: dynamic(true);;
$include-ext-data-session-childchangesvisitor: dynamic(true);;
$include-ext-data-validator-bound: dynamic(true);;
$include-ext-data-validator-email: dynamic(true);;
$include-ext-data-validator-exclusion: dynamic(true);;
$include-ext-data-validator-format: dynamic(true);;
$include-ext-data-validator-inclusion: dynamic(true);;
$include-ext-data-validator-length: dynamic(true);;
$include-ext-data-validator-list: dynamic(true);;
$include-ext-data-validator-presence: dynamic(true);;
$include-ext-data-validator-range: dynamic(true);;
$include-ext-data-validator-validator: dynamic(true);;
$include-ext-data-writer-json: dynamic(true);;
$include-ext-data-writer-writer: dynamic(true);;
$include-ext-data-writer-xml: dynamic(true);;
$include-ext-dd-dd: dynamic(true);;
$include-ext-dd-ddm: dynamic(true);;
$include-ext-dd-ddproxy: dynamic(true);;
$include-ext-dd-ddtarget: dynamic(true);;
$include-ext-dd-dragdrop: dynamic(true);;
$include-ext-dd-dragdropmanager: dynamic(true);;
$include-ext-dd-dragdropmgr: dynamic(true);;
$include-ext-dd-dragsource: dynamic(true);;
$include-ext-dd-dragtracker: dynamic(true);;
$include-ext-dd-dragzone: dynamic(true);;
$include-ext-dd-droptarget: dynamic(true);;
$include-ext-dd-dropzone: dynamic(true);;
$include-ext-dd-panelproxy: dynamic(true);;
$include-ext-dd-registry: dynamic(true);;
$include-ext-dd-scrollmanager: dynamic(true);;
$include-ext-dd-statusproxy: dynamic(true);;
$include-ext-direct-event: dynamic(true);;
$include-ext-direct-exceptionevent: dynamic(true);;
$include-ext-direct-jsonprovider: dynamic(true);;
$include-ext-direct-manager: dynamic(true);;
$include-ext-direct-pollingprovider: dynamic(true);;
$include-ext-direct-provider: dynamic(true);;
$include-ext-direct-remotingevent: dynamic(true);;
$include-ext-direct-remotingmethod: dynamic(true);;
$include-ext-direct-remotingprovider: dynamic(true);;
$include-ext-direct-transaction: dynamic(true);;
$include-ext-dom-buttonelement: dynamic(true);;
$include-ext-dom-compositeelement: dynamic(true);;
$include-ext-dom-compositeelementlite: dynamic(true);;
$include-ext-dom-element: dynamic(true);;
$include-ext-dom-element-fly: dynamic(true);;
$include-ext-dom-elementevent: dynamic(true);;
$include-ext-dom-fly: dynamic(true);;
$include-ext-dom-garbagecollector: dynamic(true);;
$include-ext-dom-helper: dynamic(true);;
$include-ext-dom-layer: dynamic(true);;
$include-ext-dom-query: dynamic(true);;
$include-ext-dom-shadow: dynamic(true);;
$include-ext-dom-shim: dynamic(true);;
$include-ext-dom-underlay: dynamic(true);;
$include-ext-dom-underlaypool: dynamic(true);;
$include-ext-draw-animator: dynamic(true);;
$include-ext-draw-color: dynamic(true);;
$include-ext-draw-component: dynamic(true);;
$include-ext-draw-container: dynamic(true);;
$include-ext-draw-containerbase: dynamic(true);;
$include-ext-draw-draw: dynamic(true);;
$include-ext-draw-limitedcache: dynamic(true);;
$include-ext-draw-matrix: dynamic(true);;
$include-ext-draw-path: dynamic(true);;
$include-ext-draw-pathutil: dynamic(true);;
$include-ext-draw-point: dynamic(true);;
$include-ext-draw-segmenttree: dynamic(true);;
$include-ext-draw-surface: dynamic(true);;
$include-ext-draw-surfacebase: dynamic(true);;
$include-ext-draw-textmeasurer: dynamic(true);;
$include-ext-draw-timingfunctions: dynamic(true);;
$include-ext-draw-engine-canvas: dynamic(true);;
$include-ext-draw-engine-svg: dynamic(true);;
$include-ext-draw-engine-svgcontext: dynamic(true);;
$include-ext-draw-engine-svgcontext-gradient: dynamic(true);;
$include-ext-draw-gradient-gradient: dynamic(true);;
$include-ext-draw-gradient-gradientdefinition: dynamic(true);;
$include-ext-draw-gradient-linear: dynamic(true);;
$include-ext-draw-gradient-radial: dynamic(true);;
$include-ext-draw-modifier-animation: dynamic(true);;
$include-ext-draw-modifier-highlight: dynamic(true);;
$include-ext-draw-modifier-modifier: dynamic(true);;
$include-ext-draw-modifier-target: dynamic(true);;
$include-ext-draw-overrides-path: dynamic(true);;
$include-ext-draw-overrides-surface: dynamic(true);;
$include-ext-draw-overrides-sprite-path: dynamic(true);;
$include-ext-draw-plugin-spriteevents: dynamic(true);;
$include-ext-draw-sprite-animationparser: dynamic(true);;
$include-ext-draw-sprite-arc: dynamic(true);;
$include-ext-draw-sprite-arrow: dynamic(true);;
$include-ext-draw-sprite-attributedefinition: dynamic(true);;
$include-ext-draw-sprite-attributeparser: dynamic(true);;
$include-ext-draw-sprite-circle: dynamic(true);;
$include-ext-draw-sprite-composite: dynamic(true);;
$include-ext-draw-sprite-cross: dynamic(true);;
$include-ext-draw-sprite-diamond: dynamic(true);;
$include-ext-draw-sprite-ellipse: dynamic(true);;
$include-ext-draw-sprite-ellipticalarc: dynamic(true);;
$include-ext-draw-sprite-image: dynamic(true);;
$include-ext-draw-sprite-instancing: dynamic(true);;
$include-ext-draw-sprite-line: dynamic(true);;
$include-ext-draw-sprite-path: dynamic(true);;
$include-ext-draw-sprite-plus: dynamic(true);;
$include-ext-draw-sprite-rect: dynamic(true);;
$include-ext-draw-sprite-sector: dynamic(true);;
$include-ext-draw-sprite-sprite: dynamic(true);;
$include-ext-draw-sprite-square: dynamic(true);;
$include-ext-draw-sprite-text: dynamic(true);;
$include-ext-draw-sprite-tick: dynamic(true);;
$include-ext-draw-sprite-triangle: dynamic(true);;
$include-ext-event-event: dynamic(true);;
$include-ext-event-gesture-doubletap: dynamic(true);;
$include-ext-event-gesture-drag: dynamic(true);;
$include-ext-event-gesture-edgeswipe: dynamic(true);;
$include-ext-event-gesture-longpress: dynamic(true);;
$include-ext-event-gesture-multitouch: dynamic(true);;
$include-ext-event-gesture-pinch: dynamic(true);;
$include-ext-event-gesture-recognizer: dynamic(true);;
$include-ext-event-gesture-rotate: dynamic(true);;
$include-ext-event-gesture-singletouch: dynamic(true);;
$include-ext-event-gesture-swipe: dynamic(true);;
$include-ext-event-gesture-tap: dynamic(true);;
$include-ext-event-publisher-dom: dynamic(true);;
$include-ext-event-publisher-elementpaint: dynamic(true);;
$include-ext-event-publisher-elementsize: dynamic(true);;
$include-ext-event-publisher-focus: dynamic(true);;
$include-ext-event-publisher-gesture: dynamic(true);;
$include-ext-event-publisher-mouseenterleave: dynamic(true);;
$include-ext-event-publisher-publisher: dynamic(true);;
$include-ext-exporter-base: dynamic(true);;
$include-ext-exporter-excel: dynamic(true);;
$include-ext-exporter-file: dynamic(true);;
$include-ext-exporter-file-base: dynamic(true);;
$include-ext-exporter-file-excel-cell: dynamic(true);;
$include-ext-exporter-file-excel-column: dynamic(true);;
$include-ext-exporter-file-excel-row: dynamic(true);;
$include-ext-exporter-file-excel-style: dynamic(true);;
$include-ext-exporter-file-excel-table: dynamic(true);;
$include-ext-exporter-file-excel-workbook: dynamic(true);;
$include-ext-exporter-file-excel-worksheet: dynamic(true);;
$include-ext-flash-component: dynamic(true);;
$include-ext-form-action: dynamic(true);;
$include-ext-form-action-directload: dynamic(true);;
$include-ext-form-action-directsubmit: dynamic(true);;
$include-ext-form-action-load: dynamic(true);;
$include-ext-form-action-submit: dynamic(true);;
$include-ext-form-basefield: dynamic(true);;
$include-ext-form-basic: dynamic(true);;
$include-ext-form-basicform: dynamic(true);;
$include-ext-form-checkbox: dynamic(true);;
$include-ext-form-checkboxgroup: dynamic(true);;
$include-ext-form-checkboxmanager: dynamic(true);;
$include-ext-form-combobox: dynamic(true);;
$include-ext-form-date: dynamic(true);;
$include-ext-form-datefield: dynamic(true);;
$include-ext-form-display: dynamic(true);;
$include-ext-form-displayfield: dynamic(true);;
$include-ext-form-field: dynamic(true);;
$include-ext-form-fieldancestor: dynamic(true);;
$include-ext-form-fieldcontainer: dynamic(true);;
$include-ext-form-fieldset: dynamic(true);;
$include-ext-form-file: dynamic(true);;
$include-ext-form-fileuploadfield: dynamic(true);;
$include-ext-form-formpanel: dynamic(true);;
$include-ext-form-hidden: dynamic(true);;
$include-ext-form-htmleditor: dynamic(true);;
$include-ext-form-label: dynamic(true);;
$include-ext-form-labelable: dynamic(true);;
$include-ext-form-number: dynamic(true);;
$include-ext-form-numberfield: dynamic(true);;
$include-ext-form-panel: dynamic(true);;
$include-ext-form-picker: dynamic(true);;
$include-ext-form-radio: dynamic(true);;
$include-ext-form-radiogroup: dynamic(true);;
$include-ext-form-radiomanager: dynamic(true);;
$include-ext-form-sliderfield: dynamic(true);;
$include-ext-form-spinner: dynamic(true);;
$include-ext-form-text: dynamic(true);;
$include-ext-form-textarea: dynamic(true);;
$include-ext-form-textfield: dynamic(true);;
$include-ext-form-time: dynamic(true);;
$include-ext-form-timefield: dynamic(true);;
$include-ext-form-trigger: dynamic(true);;
$include-ext-form-triggerfield: dynamic(true);;
$include-ext-form-twintriggerfield: dynamic(true);;
$include-ext-form-vtypes: dynamic(true);;
$include-ext-form-action-action: dynamic(true);;
$include-ext-form-action-directaction: dynamic(true);;
$include-ext-form-action-directload: dynamic(true);;
$include-ext-form-action-directsubmit: dynamic(true);;
$include-ext-form-action-load: dynamic(true);;
$include-ext-form-action-standardsubmit: dynamic(true);;
$include-ext-form-action-submit: dynamic(true);;
$include-ext-form-field-base: dynamic(true);;
$include-ext-form-field-checkbox: dynamic(true);;
$include-ext-form-field-combobox: dynamic(true);;
$include-ext-form-field-date: dynamic(true);;
$include-ext-form-field-display: dynamic(true);;
$include-ext-form-field-field: dynamic(true);;
$include-ext-form-field-file: dynamic(true);;
$include-ext-form-field-filebutton: dynamic(true);;
$include-ext-form-field-hidden: dynamic(true);;
$include-ext-form-field-htmleditor: dynamic(true);;
$include-ext-form-field-number: dynamic(true);;
$include-ext-form-field-picker: dynamic(true);;
$include-ext-form-field-radio: dynamic(true);;
$include-ext-form-field-spinner: dynamic(true);;
$include-ext-form-field-tag: dynamic(true);;
$include-ext-form-field-text: dynamic(true);;
$include-ext-form-field-textarea: dynamic(true);;
$include-ext-form-field-time: dynamic(true);;
$include-ext-form-field-trigger: dynamic(true);;
$include-ext-form-field-vtypes: dynamic(true);;
$include-ext-form-trigger-component: dynamic(true);;
$include-ext-form-trigger-spinner: dynamic(true);;
$include-ext-form-trigger-trigger: dynamic(true);;
$include-ext-fx-anim: dynamic(true);;
$include-ext-fx-animation: dynamic(true);;
$include-ext-fx-animator: dynamic(true);;
$include-ext-fx-cubicbezier: dynamic(true);;
$include-ext-fx-drawpath: dynamic(true);;
$include-ext-fx-easing: dynamic(true);;
$include-ext-fx-manager: dynamic(true);;
$include-ext-fx-propertyhandler: dynamic(true);;
$include-ext-fx-queue: dynamic(true);;
$include-ext-fx-runner: dynamic(true);;
$include-ext-fx-state: dynamic(true);;
$include-ext-fx-animation-abstract: dynamic(true);;
$include-ext-fx-animation-cube: dynamic(true);;
$include-ext-fx-animation-fade: dynamic(true);;
$include-ext-fx-animation-fadein: dynamic(true);;
$include-ext-fx-animation-fadeout: dynamic(true);;
$include-ext-fx-animation-flip: dynamic(true);;
$include-ext-fx-animation-pop: dynamic(true);;
$include-ext-fx-animation-popin: dynamic(true);;
$include-ext-fx-animation-popout: dynamic(true);;
$include-ext-fx-animation-slide: dynamic(true);;
$include-ext-fx-animation-slidein: dynamic(true);;
$include-ext-fx-animation-slideout: dynamic(true);;
$include-ext-fx-animation-wipe: dynamic(true);;
$include-ext-fx-animation-wipein: dynamic(true);;
$include-ext-fx-animation-wipeout: dynamic(true);;
$include-ext-fx-easing-abstract: dynamic(true);;
$include-ext-fx-easing-bounce: dynamic(true);;
$include-ext-fx-easing-boundmomentum: dynamic(true);;
$include-ext-fx-easing-easein: dynamic(true);;
$include-ext-fx-easing-easeout: dynamic(true);;
$include-ext-fx-easing-easing: dynamic(true);;
$include-ext-fx-easing-linear: dynamic(true);;
$include-ext-fx-easing-momentum: dynamic(true);;
$include-ext-fx-layout-card: dynamic(true);;
$include-ext-fx-layout-card-abstract: dynamic(true);;
$include-ext-fx-layout-card-cover: dynamic(true);;
$include-ext-fx-layout-card-cube: dynamic(true);;
$include-ext-fx-layout-card-fade: dynamic(true);;
$include-ext-fx-layout-card-flip: dynamic(true);;
$include-ext-fx-layout-card-pop: dynamic(true);;
$include-ext-fx-layout-card-reveal: dynamic(true);;
$include-ext-fx-layout-card-scroll: dynamic(true);;
$include-ext-fx-layout-card-scrollcover: dynamic(true);;
$include-ext-fx-layout-card-scrollreveal: dynamic(true);;
$include-ext-fx-layout-card-slide: dynamic(true);;
$include-ext-fx-layout-card-style: dynamic(true);;
$include-ext-fx-runner-css: dynamic(true);;
$include-ext-fx-runner-cssanimation: dynamic(true);;
$include-ext-fx-runner-csstransition: dynamic(true);;
$include-ext-fx-target-component: dynamic(true);;
$include-ext-fx-target-compositeelement: dynamic(true);;
$include-ext-fx-target-compositeelementcss: dynamic(true);;
$include-ext-fx-target-compositesprite: dynamic(true);;
$include-ext-fx-target-element: dynamic(true);;
$include-ext-fx-target-elementcss: dynamic(true);;
$include-ext-fx-target-sprite: dynamic(true);;
$include-ext-fx-target-target: dynamic(true);;
$include-ext-globalevents: dynamic(true);;
$include-ext-grid-actioncolumn: dynamic(true);;
$include-ext-grid-booleancolumn: dynamic(true);;
$include-ext-grid-cellcontext: dynamic(true);;
$include-ext-grid-celleditor: dynamic(true);;
$include-ext-grid-column: dynamic(true);;
$include-ext-grid-columncomponentlayout: dynamic(true);;
$include-ext-grid-columnlayout: dynamic(true);;
$include-ext-grid-columnmanager: dynamic(true);;
$include-ext-grid-columnmodel: dynamic(true);;
$include-ext-grid-datecolumn: dynamic(true);;
$include-ext-grid-gridpanel: dynamic(true);;
$include-ext-grid-lockable: dynamic(true);;
$include-ext-grid-lockingview: dynamic(true);;
$include-ext-grid-navigationmodel: dynamic(true);;
$include-ext-grid-numbercolumn: dynamic(true);;
$include-ext-grid-panel: dynamic(true);;
$include-ext-grid-propertycolumnmodel: dynamic(true);;
$include-ext-grid-propertygrid: dynamic(true);;
$include-ext-grid-propertystore: dynamic(true);;
$include-ext-grid-roweditor: dynamic(true);;
$include-ext-grid-roweditorbuttons: dynamic(true);;
$include-ext-grid-rownumberer: dynamic(true);;
$include-ext-grid-scroller: dynamic(true);;
$include-ext-grid-templatecolumn: dynamic(true);;
$include-ext-grid-view: dynamic(true);;
$include-ext-grid-viewdropzone: dynamic(true);;
$include-ext-grid-column-action: dynamic(true);;
$include-ext-grid-column-boolean: dynamic(true);;
$include-ext-grid-column-check: dynamic(true);;
$include-ext-grid-column-checkcolumn: dynamic(true);;
$include-ext-grid-column-column: dynamic(true);;
$include-ext-grid-column-date: dynamic(true);;
$include-ext-grid-column-number: dynamic(true);;
$include-ext-grid-column-rownumberer: dynamic(true);;
$include-ext-grid-column-template: dynamic(true);;
$include-ext-grid-column-widget: dynamic(true);;
$include-ext-grid-feature-abstractsummary: dynamic(true);;
$include-ext-grid-feature-feature: dynamic(true);;
$include-ext-grid-feature-groupstore: dynamic(true);;
$include-ext-grid-feature-grouping: dynamic(true);;
$include-ext-grid-feature-groupingsummary: dynamic(true);;
$include-ext-grid-feature-rowbody: dynamic(true);;
$include-ext-grid-feature-summary: dynamic(true);;
$include-ext-grid-filters-filters: dynamic(true);;
$include-ext-grid-filters-filter-base: dynamic(true);;
$include-ext-grid-filters-filter-boolean: dynamic(true);;
$include-ext-grid-filters-filter-date: dynamic(true);;
$include-ext-grid-filters-filter-list: dynamic(true);;
$include-ext-grid-filters-filter-number: dynamic(true);;
$include-ext-grid-filters-filter-singlefilter: dynamic(true);;
$include-ext-grid-filters-filter-string: dynamic(true);;
$include-ext-grid-filters-filter-trifilter: dynamic(true);;
$include-ext-grid-header-container: dynamic(true);;
$include-ext-grid-header-dragzone: dynamic(true);;
$include-ext-grid-header-dropzone: dynamic(true);;
$include-ext-grid-locking-headercontainer: dynamic(true);;
$include-ext-grid-locking-lockable: dynamic(true);;
$include-ext-grid-locking-rowsynchronizer: dynamic(true);;
$include-ext-grid-locking-view: dynamic(true);;
$include-ext-grid-plugin-bufferedrenderer: dynamic(true);;
$include-ext-grid-plugin-cellediting: dynamic(true);;
$include-ext-grid-plugin-clipboard: dynamic(true);;
$include-ext-grid-plugin-dragdrop: dynamic(true);;
$include-ext-grid-plugin-editing: dynamic(true);;
$include-ext-grid-plugin-exporter: dynamic(true);;
$include-ext-grid-plugin-headerreorderer: dynamic(true);;
$include-ext-grid-plugin-headerresizer: dynamic(true);;
$include-ext-grid-plugin-rowediting: dynamic(true);;
$include-ext-grid-plugin-rowexpander: dynamic(true);;
$include-ext-grid-property-grid: dynamic(true);;
$include-ext-grid-property-headercontainer: dynamic(true);;
$include-ext-grid-property-property: dynamic(true);;
$include-ext-grid-property-reader: dynamic(true);;
$include-ext-grid-property-store: dynamic(true);;
$include-ext-grid-selection-cells: dynamic(true);;
$include-ext-grid-selection-columns: dynamic(true);;
$include-ext-grid-selection-replicator: dynamic(true);;
$include-ext-grid-selection-rows: dynamic(true);;
$include-ext-grid-selection-selection: dynamic(true);;
$include-ext-grid-selection-selectionextender: dynamic(true);;
$include-ext-grid-selection-spreadsheetmodel: dynamic(true);;
$include-ext-layout-absolutelayout: dynamic(true);;
$include-ext-layout-accordionlayout: dynamic(true);;
$include-ext-layout-anchorlayout: dynamic(true);;
$include-ext-layout-borderlayout: dynamic(true);;
$include-ext-layout-boxlayout: dynamic(true);;
$include-ext-layout-cardlayout: dynamic(true);;
$include-ext-layout-columnlayout: dynamic(true);;
$include-ext-layout-containerlayout: dynamic(true);;
$include-ext-layout-context: dynamic(true);;
$include-ext-layout-contextitem: dynamic(true);;
$include-ext-layout-fitlayout: dynamic(true);;
$include-ext-layout-formlayout: dynamic(true);;
$include-ext-layout-hboxlayout: dynamic(true);;
$include-ext-layout-layout: dynamic(true);;
$include-ext-layout-sizemodel: dynamic(true);;
$include-ext-layout-tablelayout: dynamic(true);;
$include-ext-layout-vboxlayout: dynamic(true);;
$include-ext-layout-boxoverflow-menu: dynamic(true);;
$include-ext-layout-boxoverflow-none: dynamic(true);;
$include-ext-layout-boxoverflow-scroller: dynamic(true);;
$include-ext-layout-component-abstractdock: dynamic(true);;
$include-ext-layout-component-auto: dynamic(true);;
$include-ext-layout-component-body: dynamic(true);;
$include-ext-layout-component-boundlist: dynamic(true);;
$include-ext-layout-component-component: dynamic(true);;
$include-ext-layout-component-dock: dynamic(true);;
$include-ext-layout-component-fieldset: dynamic(true);;
$include-ext-layout-component-progressbar: dynamic(true);;
$include-ext-layout-component-field-fieldcontainer: dynamic(true);;
$include-ext-layout-component-field-htmleditor: dynamic(true);;
$include-ext-layout-container-absolute: dynamic(true);;
$include-ext-layout-container-accordion: dynamic(true);;
$include-ext-layout-container-anchor: dynamic(true);;
$include-ext-layout-container-auto: dynamic(true);;
$include-ext-layout-container-border: dynamic(true);;
$include-ext-layout-container-box: dynamic(true);;
$include-ext-layout-container-card: dynamic(true);;
$include-ext-layout-container-center: dynamic(true);;
$include-ext-layout-container-checkboxgroup: dynamic(true);;
$include-ext-layout-container-column: dynamic(true);;
$include-ext-layout-container-columnsplitter: dynamic(true);;
$include-ext-layout-container-columnsplittertracker: dynamic(true);;
$include-ext-layout-container-container: dynamic(true);;
$include-ext-layout-container-dashboard: dynamic(true);;
$include-ext-layout-container-editor: dynamic(true);;
$include-ext-layout-container-fit: dynamic(true);;
$include-ext-layout-container-form: dynamic(true);;
$include-ext-layout-container-hbox: dynamic(true);;
$include-ext-layout-container-segmentedbutton: dynamic(true);;
$include-ext-layout-container-table: dynamic(true);;
$include-ext-layout-container-vbox: dynamic(true);;
$include-ext-layout-container-border-region: dynamic(true);;
$include-ext-layout-container-boxoverflow-menu: dynamic(true);;
$include-ext-layout-container-boxoverflow-none: dynamic(true);;
$include-ext-layout-container-boxoverflow-scroller: dynamic(true);;
$include-ext-list-abstracttreeitem: dynamic(true);;
$include-ext-list-listview: dynamic(true);;
$include-ext-list-roottreeitem: dynamic(true);;
$include-ext-list-tree: dynamic(true);;
$include-ext-list-treeitem: dynamic(true);;
$include-ext-menu-checkitem: dynamic(true);;
$include-ext-menu-colorpicker: dynamic(true);;
$include-ext-menu-datepicker: dynamic(true);;
$include-ext-menu-item: dynamic(true);;
$include-ext-menu-manager: dynamic(true);;
$include-ext-menu-menu: dynamic(true);;
$include-ext-menu-menumgr: dynamic(true);;
$include-ext-menu-separator: dynamic(true);;
$include-ext-menu-textitem: dynamic(true);;
$include-ext-mixin-accessible: dynamic(true);;
$include-ext-mixin-bindable: dynamic(true);;
$include-ext-mixin-componentdelegation: dynamic(true);;
$include-ext-mixin-container: dynamic(true);;
$include-ext-mixin-factoryable: dynamic(true);;
$include-ext-mixin-hookable: dynamic(true);;
$include-ext-mixin-identifiable: dynamic(true);;
$include-ext-mixin-inheritable: dynamic(true);;
$include-ext-mixin-mashup: dynamic(true);;
$include-ext-mixin-observable: dynamic(true);;
$include-ext-mixin-queryable: dynamic(true);;
$include-ext-mixin-responsive: dynamic(true);;
$include-ext-mixin-selectable: dynamic(true);;
$include-ext-mixin-templatable: dynamic(true);;
$include-ext-mixin-traversable: dynamic(true);;
$include-ext-overrides-globalevents: dynamic(true);;
$include-ext-overrides-widget: dynamic(true);;
$include-ext-overrides-app-application: dynamic(true);;
$include-ext-overrides-app-domain-component: dynamic(true);;
$include-ext-overrides-dom-element: dynamic(true);;
$include-ext-overrides-dom-helper: dynamic(true);;
$include-ext-overrides-event-event: dynamic(true);;
$include-ext-overrides-event-publisher-dom: dynamic(true);;
$include-ext-overrides-event-publisher-gesture: dynamic(true);;
$include-ext-overrides-list-treeitem: dynamic(true);;
$include-ext-overrides-plugin-abstract: dynamic(true);;
$include-ext-overrides-util-positionable: dynamic(true);;
$include-ext-panel-bar: dynamic(true);;
$include-ext-panel-dd: dynamic(true);;
$include-ext-panel-header: dynamic(true);;
$include-ext-panel-panel: dynamic(true);;
$include-ext-panel-pinnable: dynamic(true);;
$include-ext-panel-proxy: dynamic(true);;
$include-ext-panel-table: dynamic(true);;
$include-ext-panel-title: dynamic(true);;
$include-ext-panel-tool: dynamic(true);;
$include-ext-perf-accumulator: dynamic(true);;
$include-ext-perf-monitor: dynamic(true);;
$include-ext-picker-color: dynamic(true);;
$include-ext-picker-date: dynamic(true);;
$include-ext-picker-month: dynamic(true);;
$include-ext-picker-time: dynamic(true);;
$include-ext-plugin-abstract: dynamic(true);;
$include-ext-plugin-abstractclipboard: dynamic(true);;
$include-ext-plugin-lazyitems: dynamic(true);;
$include-ext-plugin-manager: dynamic(true);;
$include-ext-plugin-responsive: dynamic(true);;
$include-ext-plugin-viewport: dynamic(true);;
$include-ext-promise-consequence: dynamic(true);;
$include-ext-promise-deferred: dynamic(true);;
$include-ext-promise-promise: dynamic(true);;
$include-ext-resizer-bordersplitter: dynamic(true);;
$include-ext-resizer-bordersplittertracker: dynamic(true);;
$include-ext-resizer-handle: dynamic(true);;
$include-ext-resizer-resizetracker: dynamic(true);;
$include-ext-resizer-resizer: dynamic(true);;
$include-ext-resizer-splitter: dynamic(true);;
$include-ext-resizer-splittertracker: dynamic(true);;
$include-ext-rtl-component: dynamic(true);;
$include-ext-rtl-button-button: dynamic(true);;
$include-ext-rtl-button-segmented: dynamic(true);;
$include-ext-rtl-dd-dd: dynamic(true);;
$include-ext-rtl-dom-element: dynamic(true);;
$include-ext-rtl-event-event: dynamic(true);;
$include-ext-rtl-form-labelable: dynamic(true);;
$include-ext-rtl-form-field-file: dynamic(true);;
$include-ext-rtl-form-field-filebutton: dynamic(true);;
$include-ext-rtl-form-field-tag: dynamic(true);;
$include-ext-rtl-grid-celleditor: dynamic(true);;
$include-ext-rtl-grid-columnlayout: dynamic(true);;
$include-ext-rtl-grid-navigationmodel: dynamic(true);;
$include-ext-rtl-grid-column-column: dynamic(true);;
$include-ext-rtl-grid-plugin-bufferedrenderer: dynamic(true);;
$include-ext-rtl-grid-plugin-headerresizer: dynamic(true);;
$include-ext-rtl-grid-plugin-rowediting: dynamic(true);;
$include-ext-rtl-layout-contextitem: dynamic(true);;
$include-ext-rtl-layout-component-dock: dynamic(true);;
$include-ext-rtl-layout-container-absolute: dynamic(true);;
$include-ext-rtl-layout-container-border: dynamic(true);;
$include-ext-rtl-layout-container-box: dynamic(true);;
$include-ext-rtl-layout-container-column: dynamic(true);;
$include-ext-rtl-layout-container-hbox: dynamic(true);;
$include-ext-rtl-layout-container-vbox: dynamic(true);;
$include-ext-rtl-layout-container-boxoverflow-menu: dynamic(true);;
$include-ext-rtl-layout-container-boxoverflow-scroller: dynamic(true);;
$include-ext-rtl-panel-bar: dynamic(true);;
$include-ext-rtl-panel-panel: dynamic(true);;
$include-ext-rtl-panel-title: dynamic(true);;
$include-ext-rtl-resizer-bordersplittertracker: dynamic(true);;
$include-ext-rtl-resizer-resizetracker: dynamic(true);;
$include-ext-rtl-resizer-splittertracker: dynamic(true);;
$include-ext-rtl-scroll-domscroller: dynamic(true);;
$include-ext-rtl-scroll-indicator: dynamic(true);;
$include-ext-rtl-scroll-scroller: dynamic(true);;
$include-ext-rtl-scroll-touchscroller: dynamic(true);;
$include-ext-rtl-slider-multi: dynamic(true);;
$include-ext-rtl-tab-bar: dynamic(true);;
$include-ext-rtl-tip-quicktipmanager: dynamic(true);;
$include-ext-rtl-tree-column: dynamic(true);;
$include-ext-rtl-util-focusablecontainer: dynamic(true);;
$include-ext-rtl-util-renderable: dynamic(true);;
$include-ext-rtl-view-navigationmodel: dynamic(true);;
$include-ext-rtl-view-table: dynamic(true);;
$include-ext-scroll-domscroller: dynamic(true);;
$include-ext-scroll-indicator: dynamic(true);;
$include-ext-scroll-scroller: dynamic(true);;
$include-ext-scroll-touchscroller: dynamic(true);;
$include-ext-selection-cellmodel: dynamic(true);;
$include-ext-selection-checkboxmodel: dynamic(true);;
$include-ext-selection-dataviewmodel: dynamic(true);;
$include-ext-selection-model: dynamic(true);;
$include-ext-selection-rowmodel: dynamic(true);;
$include-ext-selection-treemodel: dynamic(true);;
$include-ext-slider-multi: dynamic(true);;
$include-ext-slider-multislider: dynamic(true);;
$include-ext-slider-single: dynamic(true);;
$include-ext-slider-singleslider: dynamic(true);;
$include-ext-slider-slider: dynamic(true);;
$include-ext-slider-thumb: dynamic(true);;
$include-ext-slider-tip: dynamic(true);;
$include-ext-slider-widget: dynamic(true);;
$include-ext-sparkline-bar: dynamic(true);;
$include-ext-sparkline-barbase: dynamic(true);;
$include-ext-sparkline-base: dynamic(true);;
$include-ext-sparkline-box: dynamic(true);;
$include-ext-sparkline-bullet: dynamic(true);;
$include-ext-sparkline-canvasbase: dynamic(true);;
$include-ext-sparkline-canvascanvas: dynamic(true);;
$include-ext-sparkline-discrete: dynamic(true);;
$include-ext-sparkline-line: dynamic(true);;
$include-ext-sparkline-pie: dynamic(true);;
$include-ext-sparkline-rangemap: dynamic(true);;
$include-ext-sparkline-shape: dynamic(true);;
$include-ext-sparkline-tristate: dynamic(true);;
$include-ext-sparkline-vmlcanvas: dynamic(true);;
$include-ext-state-cookieprovider: dynamic(true);;
$include-ext-state-localstorageprovider: dynamic(true);;
$include-ext-state-manager: dynamic(true);;
$include-ext-state-provider: dynamic(true);;
$include-ext-state-stateful: dynamic(true);;
$include-ext-tab-bar: dynamic(true);;
$include-ext-tab-panel: dynamic(true);;
$include-ext-tab-tab: dynamic(true);;
$include-ext-theme-neptune-component: dynamic(true);;
$include-ext-theme-neptune-container-buttongroup: dynamic(true);;
$include-ext-theme-neptune-form-field-htmleditor: dynamic(true);;
$include-ext-theme-neptune-grid-roweditor: dynamic(true);;
$include-ext-theme-neptune-grid-column-rownumberer: dynamic(true);;
$include-ext-theme-neptune-layout-component-dock: dynamic(true);;
$include-ext-theme-neptune-menu-menu: dynamic(true);;
$include-ext-theme-neptune-menu-separator: dynamic(true);;
$include-ext-theme-neptune-panel-panel: dynamic(true);;
$include-ext-theme-neptune-panel-table: dynamic(true);;
$include-ext-theme-neptune-picker-month: dynamic(true);;
$include-ext-theme-neptune-resizer-splitter: dynamic(true);;
$include-ext-theme-neptune-toolbar-paging: dynamic(true);;
$include-ext-theme-neptune-toolbar-toolbar: dynamic(true);;
$include-ext-theme-triton-component: dynamic(true);;
$include-ext-theme-triton-form-field-checkbox: dynamic(true);;
$include-ext-theme-triton-grid-column-column: dynamic(true);;
$include-ext-theme-triton-grid-column-rownumberer: dynamic(true);;
$include-ext-theme-triton-grid-plugin-rowexpander: dynamic(true);;
$include-ext-theme-triton-grid-selection-spreadsheetmodel: dynamic(true);;
$include-ext-theme-triton-list-treeitem: dynamic(true);;
$include-ext-theme-triton-menu-item: dynamic(true);;
$include-ext-theme-triton-menu-menu: dynamic(true);;
$include-ext-theme-triton-picker-date: dynamic(true);;
$include-ext-theme-triton-picker-month: dynamic(true);;
$include-ext-theme-triton-resizer-splitter: dynamic(true);;
$include-ext-theme-triton-selection-checkboxmodel: dynamic(true);;
$include-ext-theme-triton-toolbar-paging: dynamic(true);;
$include-ext-tip-quicktip: dynamic(true);;
$include-ext-tip-quicktipmanager: dynamic(true);;
$include-ext-tip-tip: dynamic(true);;
$include-ext-tip-tooltip: dynamic(true);;
$include-ext-toolbar-breadcrumb: dynamic(true);;
$include-ext-toolbar-fill: dynamic(true);;
$include-ext-toolbar-item: dynamic(true);;
$include-ext-toolbar-paging: dynamic(true);;
$include-ext-toolbar-separator: dynamic(true);;
$include-ext-toolbar-spacer: dynamic(true);;
$include-ext-toolbar-textitem: dynamic(true);;
$include-ext-toolbar-toolbar: dynamic(true);;
$include-ext-tree-column: dynamic(true);;
$include-ext-tree-navigationmodel: dynamic(true);;
$include-ext-tree-panel: dynamic(true);;
$include-ext-tree-treepanel: dynamic(true);;
$include-ext-tree-view: dynamic(true);;
$include-ext-tree-viewdragzone: dynamic(true);;
$include-ext-tree-viewdropzone: dynamic(true);;
$include-ext-tree-plugin-treeviewdragdrop: dynamic(true);;
$include-ext-util-abstractmixedcollection: dynamic(true);;
$include-ext-util-animate: dynamic(true);;
$include-ext-util-bag: dynamic(true);;
$include-ext-util-base64: dynamic(true);;
$include-ext-util-css: dynamic(true);;
$include-ext-util-csv: dynamic(true);;
$include-ext-util-clickrepeater: dynamic(true);;
$include-ext-util-collection: dynamic(true);;
$include-ext-util-collectionkey: dynamic(true);;
$include-ext-util-componentdragger: dynamic(true);;
$include-ext-util-cookies: dynamic(true);;
$include-ext-util-delimitedvalue: dynamic(true);;
$include-ext-util-elementcontainer: dynamic(true);;
$include-ext-util-event: dynamic(true);;
$include-ext-util-filter: dynamic(true);;
$include-ext-util-filtercollection: dynamic(true);;
$include-ext-util-floating: dynamic(true);;
$include-ext-util-focustrap: dynamic(true);;
$include-ext-util-focusable: dynamic(true);;
$include-ext-util-focusablecontainer: dynamic(true);;
$include-ext-util-format: dynamic(true);;
$include-ext-util-group: dynamic(true);;
$include-ext-util-groupcollection: dynamic(true);;
$include-ext-util-grouper: dynamic(true);;
$include-ext-util-hashmap: dynamic(true);;
$include-ext-util-history: dynamic(true);;
$include-ext-util-inflector: dynamic(true);;
$include-ext-util-itemcollection: dynamic(true);;
$include-ext-util-keymap: dynamic(true);;
$include-ext-util-keynav: dynamic(true);;
$include-ext-util-keyboardinteractive: dynamic(true);;
$include-ext-util-localstorage: dynamic(true);;
$include-ext-util-lrucache: dynamic(true);;
$include-ext-util-memento: dynamic(true);;
$include-ext-util-mixedcollection: dynamic(true);;
$include-ext-util-objecttemplate: dynamic(true);;
$include-ext-util-observable: dynamic(true);;
$include-ext-util-offset: dynamic(true);;
$include-ext-util-paintmonitor: dynamic(true);;
$include-ext-util-point: dynamic(true);;
$include-ext-util-positionable: dynamic(true);;
$include-ext-util-protoelement: dynamic(true);;
$include-ext-util-queue: dynamic(true);;
$include-ext-util-region: dynamic(true);;
$include-ext-util-renderable: dynamic(true);;
$include-ext-util-schedulable: dynamic(true);;
$include-ext-util-scheduler: dynamic(true);;
$include-ext-util-sizemonitor: dynamic(true);;
$include-ext-util-sortable: dynamic(true);;
$include-ext-util-sorter: dynamic(true);;
$include-ext-util-sortercollection: dynamic(true);;
$include-ext-util-storeholder: dynamic(true);;
$include-ext-util-tsv: dynamic(true);;
$include-ext-util-taskmanager: dynamic(true);;
$include-ext-util-taskrunner: dynamic(true);;
$include-ext-util-textmetrics: dynamic(true);;
$include-ext-util-translatable: dynamic(true);;
$include-ext-util-xtemplatecompiler: dynamic(true);;
$include-ext-util-xtemplateparser: dynamic(true);;
$include-ext-util-paintmonitor-abstract: dynamic(true);;
$include-ext-util-paintmonitor-cssanimation: dynamic(true);;
$include-ext-util-paintmonitor-overflowchange: dynamic(true);;
$include-ext-util-sizemonitor-abstract: dynamic(true);;
$include-ext-util-sizemonitor-default: dynamic(true);;
$include-ext-util-sizemonitor-overflowchange: dynamic(true);;
$include-ext-util-sizemonitor-scroll: dynamic(true);;
$include-ext-util-translatable-abstract: dynamic(true);;
$include-ext-util-translatable-cssposition: dynamic(true);;
$include-ext-util-translatable-csstransform: dynamic(true);;
$include-ext-util-translatable-dom: dynamic(true);;
$include-ext-util-translatable-scrollparent: dynamic(true);;
$include-ext-util-translatable-scrollposition: dynamic(true);;
$include-ext-ux-boxreorderer: dynamic(true);;
$include-ext-ux-celldragdrop: dynamic(true);;
$include-ext-ux-checkcolumn: dynamic(true);;
$include-ext-ux-datatip: dynamic(true);;
$include-ext-ux-dataview-animated: dynamic(true);;
$include-ext-ux-dataview-dragselector: dynamic(true);;
$include-ext-ux-dataview-draggable: dynamic(true);;
$include-ext-ux-dataview-labeleditor: dynamic(true);;
$include-ext-ux-explorer: dynamic(true);;
$include-ext-ux-fieldreplicator: dynamic(true);;
$include-ext-ux-gmappanel: dynamic(true);;
$include-ext-ux-grouptabpanel: dynamic(true);;
$include-ext-ux-grouptabrenderer: dynamic(true);;
$include-ext-ux-iframe: dynamic(true);;
$include-ext-ux-itemselector: dynamic(true);;
$include-ext-ux-livesearchgridpanel: dynamic(true);;
$include-ext-ux-multiselect: dynamic(true);;
$include-ext-ux-previewplugin: dynamic(true);;
$include-ext-ux-progressbarpager: dynamic(true);;
$include-ext-ux-rowexpander: dynamic(true);;
$include-ext-ux-slidingpager: dynamic(true);;
$include-ext-ux-spotlight: dynamic(true);;
$include-ext-ux-statusbar: dynamic(true);;
$include-ext-ux-tabclosemenu: dynamic(true);;
$include-ext-ux-tabreorderer: dynamic(true);;
$include-ext-ux-tabscrollermenu: dynamic(true);;
$include-ext-ux-toolbardroppable: dynamic(true);;
$include-ext-ux-treepicker: dynamic(true);;
$include-ext-ux-ajax-datasimlet: dynamic(true);;
$include-ext-ux-ajax-jsonsimlet: dynamic(true);;
$include-ext-ux-ajax-simmanager: dynamic(true);;
$include-ext-ux-ajax-simxhr: dynamic(true);;
$include-ext-ux-ajax-simlet: dynamic(true);;
$include-ext-ux-ajax-xmlsimlet: dynamic(true);;
$include-ext-ux-colorpick-button: dynamic(true);;
$include-ext-ux-colorpick-buttoncontroller: dynamic(true);;
$include-ext-ux-colorpick-colormap: dynamic(true);;
$include-ext-ux-colorpick-colormapcontroller: dynamic(true);;
$include-ext-ux-colorpick-colorpreview: dynamic(true);;
$include-ext-ux-colorpick-colorutils: dynamic(true);;
$include-ext-ux-colorpick-field: dynamic(true);;
$include-ext-ux-colorpick-selection: dynamic(true);;
$include-ext-ux-colorpick-selector: dynamic(true);;
$include-ext-ux-colorpick-selectorcontroller: dynamic(true);;
$include-ext-ux-colorpick-selectormodel: dynamic(true);;
$include-ext-ux-colorpick-slider: dynamic(true);;
$include-ext-ux-colorpick-slideralpha: dynamic(true);;
$include-ext-ux-colorpick-slidercontroller: dynamic(true);;
$include-ext-ux-colorpick-sliderhue: dynamic(true);;
$include-ext-ux-colorpick-slidersaturation: dynamic(true);;
$include-ext-ux-colorpick-slidervalue: dynamic(true);;
$include-ext-ux-dashboard-googlersspart: dynamic(true);;
$include-ext-ux-dashboard-googlerssview: dynamic(true);;
$include-ext-ux-data-pagingmemoryproxy: dynamic(true);;
$include-ext-ux-dd-cellfielddropzone: dynamic(true);;
$include-ext-ux-dd-panelfielddragzone: dynamic(true);;
$include-ext-ux-desktop-app: dynamic(true);;
$include-ext-ux-desktop-desktop: dynamic(true);;
$include-ext-ux-desktop-module: dynamic(true);;
$include-ext-ux-desktop-shortcutmodel: dynamic(true);;
$include-ext-ux-desktop-startmenu: dynamic(true);;
$include-ext-ux-desktop-taskbar: dynamic(true);;
$include-ext-ux-desktop-trayclock: dynamic(true);;
$include-ext-ux-desktop-video: dynamic(true);;
$include-ext-ux-desktop-wallpaper: dynamic(true);;
$include-ext-ux-event-driver: dynamic(true);;
$include-ext-ux-event-maker: dynamic(true);;
$include-ext-ux-event-player: dynamic(true);;
$include-ext-ux-event-recorder: dynamic(true);;
$include-ext-ux-event-recordermanager: dynamic(true);;
$include-ext-ux-form-fileuploadfield: dynamic(true);;
$include-ext-ux-form-itemselector: dynamic(true);;
$include-ext-ux-form-multiselect: dynamic(true);;
$include-ext-ux-form-searchfield: dynamic(true);;
$include-ext-ux-google-api: dynamic(true);;
$include-ext-ux-google-feeds: dynamic(true);;
$include-ext-ux-grid-subtable: dynamic(true);;
$include-ext-ux-grid-transformgrid: dynamic(true);;
$include-ext-ux-layout-center: dynamic(true);;
$include-ext-ux-layout-responsivecolumn: dynamic(true);;
$include-ext-ux-rating-picker: dynamic(true);;
$include-ext-ux-statusbar-statusbar: dynamic(true);;
$include-ext-ux-statusbar-validationstatus: dynamic(true);;
$include-ext-view-abstractview: dynamic(true);;
$include-ext-view-boundlist: dynamic(true);;
$include-ext-view-boundlistkeynav: dynamic(true);;
$include-ext-view-dragzone: dynamic(true);;
$include-ext-view-dropzone: dynamic(true);;
$include-ext-view-multiselector: dynamic(true);;
$include-ext-view-multiselectorsearch: dynamic(true);;
$include-ext-view-navigationmodel: dynamic(true);;
$include-ext-view-nodecache: dynamic(true);;
$include-ext-view-table: dynamic(true);;
$include-ext-view-tablelayout: dynamic(true);;
$include-ext-view-view: dynamic(true);;
$include-ext-window-messagebox: dynamic(true);;
$include-ext-window-toast: dynamic(true);;
$include-ext-window-window: dynamic(true);;
$include-tradestorm-application: dynamic(true);;
$include-tradestorm-model-base: dynamic(true);;
$include-tradestorm-model-marketdata: dynamic(true);;
$include-tradestorm-model-symbol: dynamic(true);;
$include-tradestorm-model-trade: dynamic(true);;
$include-tradestorm-store-navigationtree: dynamic(true);;
$include-tradestorm-store-symbols: dynamic(true);;
$include-tradestorm-store-trades: dynamic(true);;
$include-tradestorm-view-main-maincontainerwrap: dynamic(true);;
$include-tradestorm-view-main-viewport: dynamic(true);;
$include-tradestorm-view-main-viewportcontroller: dynamic(true);;
$include-tradestorm-view-main-viewportmodel: dynamic(true);;
$include-tradestorm-view-marketdata-marketdata: dynamic(true);;
$include-tradestorm-view-marketdata-marketdatacontroller: dynamic(true);;
$include-tradestorm-view-marketdata-marketdatamodel: dynamic(true);;
$include-tradestorm-view-pages-blankpage: dynamic(true);;
$include-tradestorm-view-pages-error404window: dynamic(true);;
$include-tradestorm-view-pages-error500window: dynamic(true);;
$include-tradestorm-view-tradeblotter-list: dynamic(true);;
$include-tradestorm-view-tradeblotter-tradeblotter: dynamic(true);;
$include-tradestorm-view-tradeblotter-tradeblottercontroller: dynamic(true);;
$include-tradestorm-view-tradeblotter-uploadwindow: dynamic(true);;
$include-tradestorm-view-tradeblotter-uploadwindowcontroller: dynamic(true);;
$output-paths: ("path": "../../classic/resources", "shared": "../../resources");

/* ======================== ETC ======================== */

/* including package ext */
$ext-resource-root: '' !default;
$ext-resource-path: 'images' !default;
$current-package: 'ext';
$current-resource-root: $ext-resource-root;
$relative-image-path-for-uis: $ext-resource-path;
@import '../../../../../ext/sass/etc/all';

/* including package core */
$core-resource-root: '' !default;
$core-resource-path: 'images' !default;
$current-package: 'core';
$current-resource-root: $core-resource-root;
$relative-image-path-for-uis: $core-resource-path;
@import '../../../../../ext/packages/core/sass/etc/all';

/* including package theme-base */
$theme-base-resource-root: '' !default;
$theme-base-resource-path: 'images' !default;
$current-package: 'theme-base';
$current-resource-root: $theme-base-resource-root;
$relative-image-path-for-uis: $theme-base-resource-path;
@import '../../../../../ext/classic/theme-base/sass/etc/all';

/* including package theme-neutral */
$theme-neutral-resource-root: '' !default;
$theme-neutral-resource-path: 'images' !default;
$current-package: 'theme-neutral';
$current-resource-root: $theme-neutral-resource-root;
$relative-image-path-for-uis: $theme-neutral-resource-path;
@import '../../../../../ext/classic/theme-neutral/sass/etc/all';

/* including package theme-neptune */
$theme-neptune-resource-root: '' !default;
$theme-neptune-resource-path: 'images' !default;
$current-package: 'theme-neptune';
$current-resource-root: $theme-neptune-resource-root;
$relative-image-path-for-uis: $theme-neptune-resource-path;
@import '../../../../../ext/classic/theme-neptune/sass/etc/all';

/* including package font-ext */
$font-ext-resource-root: 'font-ext' !default;
$font-ext-resource-path: 'font-ext/images' !default;
$current-package: 'font-ext';
$current-resource-root: $font-ext-resource-root;
$relative-image-path-for-uis: $font-ext-resource-path;
@import '../../../../../ext/packages/font-ext/sass/etc/all';

/* including package theme-triton */
$theme-triton-resource-root: '' !default;
$theme-triton-resource-path: 'images' !default;
$current-package: 'theme-triton';
$current-resource-root: $theme-triton-resource-root;
$relative-image-path-for-uis: $theme-triton-resource-path;
@import '../../../../../ext/classic/theme-triton/sass/etc/all';

/* including package theme-tradestorm */
$theme-tradestorm-resource-root: '' !default;
$theme-tradestorm-resource-path: 'images' !default;
$current-package: 'theme-tradestorm';
$current-resource-root: $theme-tradestorm-resource-root;
$relative-image-path-for-uis: $theme-tradestorm-resource-path;
@import '../../../../../packages/theme-tradestorm/sass/etc/all';

/* including package charts */
$charts-resource-root: 'charts' !default;
$charts-resource-path: 'charts/images' !default;
$current-package: 'charts';
$current-resource-root: $charts-resource-root;
$relative-image-path-for-uis: $charts-resource-path;
@import '../../../../../ext/packages/charts/sass/etc/all';

/* including package TradeStorm */
$TradeStorm-resource-root: '' !default;
$TradeStorm-resource-path: 'images' !default;
$current-package: false;
$current-resource-root: $TradeStorm-resource-root;
$relative-image-path-for-uis: $TradeStorm-resource-path;
@import '../../../../../sencha_resources/sass/etc/all';


/* ======================== VAR ======================== */

/* including package core */
$core-resource-root: '' !default;
$core-resource-path: 'images' !default;
$current-package: 'core';
$current-resource-root: $core-resource-root;
$relative-image-path-for-uis: $core-resource-path;
@import '../../../../../ext/packages/core/sass/var/Component';
@import '../../../../../ext/packages/core/sass/var/list/TreeItem';

/* including package theme-base */
$theme-base-resource-root: '' !default;
$theme-base-resource-path: 'images' !default;
$current-package: 'theme-base';
$current-resource-root: $theme-base-resource-root;
$relative-image-path-for-uis: $theme-base-resource-path;
@import '../../../../../ext/classic/theme-base/sass/var/Component';

/* including package theme-neutral */
$theme-neutral-resource-root: '' !default;
$theme-neutral-resource-path: 'images' !default;
$current-package: 'theme-neutral';
$current-resource-root: $theme-neutral-resource-root;
$relative-image-path-for-uis: $theme-neutral-resource-path;
@import '../../../../../ext/classic/theme-neutral/sass/var/scroll/Indicator';
@import '../../../../../ext/classic/theme-neutral/sass/var/Component';
@import '../../../../../ext/classic/theme-neutral/sass/var/list/TreeItem';
@import '../../../../../ext/classic/theme-neutral/sass/var/LoadMask';
@import '../../../../../ext/classic/theme-neutral/sass/var/ProgressBar';
@import '../../../../../ext/classic/theme-neutral/sass/var/button/Button';
@import '../../../../../ext/classic/theme-neutral/sass/var/panel/Tool';
@import '../../../../../ext/classic/theme-neutral/sass/var/panel/Header';
@import '../../../../../ext/classic/theme-neutral/sass/var/resizer/Splitter';
@import '../../../../../ext/classic/theme-neutral/sass/var/toolbar/Toolbar';
@import '../../../../../ext/classic/theme-neutral/sass/var/panel/Panel';
@import '../../../../../ext/classic/theme-neutral/sass/var/container/ButtonGroup';
@import '../../../../../ext/classic/theme-neutral/sass/var/dashboard/Dashboard';
@import '../../../../../ext/classic/theme-neutral/sass/var/window/Window';
@import '../../../../../ext/classic/theme-neutral/sass/var/form/field/Base';
@import '../../../../../ext/classic/theme-neutral/sass/var/window/MessageBox';
@import '../../../../../ext/classic/theme-neutral/sass/var/form/field/Checkbox';
@import '../../../../../ext/classic/theme-neutral/sass/var/form/CheckboxGroup';
@import '../../../../../ext/classic/theme-neutral/sass/var/form/FieldSet';
@import '../../../../../ext/classic/theme-neutral/sass/var/form/trigger/Spinner';
@import '../../../../../ext/classic/theme-neutral/sass/var/toolbar/Paging';
@import '../../../../../ext/classic/theme-neutral/sass/var/view/BoundList';
@import '../../../../../ext/classic/theme-neutral/sass/var/picker/Date';
@import '../../../../../ext/classic/theme-neutral/sass/var/form/field/Display';
@import '../../../../../ext/classic/theme-neutral/sass/var/tip/Tip';
@import '../../../../../ext/classic/theme-neutral/sass/var/picker/Color';
@import '../../../../../ext/classic/theme-neutral/sass/var/form/field/HtmlEditor';
@import '../../../../../ext/classic/theme-neutral/sass/var/form/field/Tag';
@import '../../../../../ext/classic/theme-neutral/sass/var/view/Table';
@import '../../../../../ext/classic/theme-neutral/sass/var/grid/header/DropZone';
@import '../../../../../ext/classic/theme-neutral/sass/var/grid/header/Container';
@import '../../../../../ext/classic/theme-neutral/sass/var/grid/column/Column';
@import '../../../../../ext/classic/theme-neutral/sass/var/grid/column/Action';
@import '../../../../../ext/classic/theme-neutral/sass/var/grid/column/Check';
@import '../../../../../ext/classic/theme-neutral/sass/var/grid/column/RowNumberer';
@import '../../../../../ext/classic/theme-neutral/sass/var/grid/column/Widget';
@import '../../../../../ext/classic/theme-neutral/sass/var/grid/feature/Grouping';
@import '../../../../../ext/classic/theme-neutral/sass/var/grid/feature/RowBody';
@import '../../../../../ext/classic/theme-neutral/sass/var/menu/Menu';
@import '../../../../../ext/classic/theme-neutral/sass/var/grid/filters/Filters';
@import '../../../../../ext/classic/theme-neutral/sass/var/grid/locking/Lockable';
@import '../../../../../ext/classic/theme-neutral/sass/var/grid/plugin/Editing';
@import '../../../../../ext/classic/theme-neutral/sass/var/grid/plugin/RowEditing';
@import '../../../../../ext/classic/theme-neutral/sass/var/grid/plugin/RowExpander';
@import '../../../../../ext/classic/theme-neutral/sass/var/grid/property/Grid';
@import '../../../../../ext/classic/theme-neutral/sass/var/grid/selection/SpreadsheetModel';
@import '../../../../../ext/classic/theme-neutral/sass/var/layout/container/Accordion';
@import '../../../../../ext/classic/theme-neutral/sass/var/layout/container/Border';
@import '../../../../../ext/classic/theme-neutral/sass/var/selection/CheckboxModel';
@import '../../../../../ext/classic/theme-neutral/sass/var/slider/Multi';
@import '../../../../../ext/classic/theme-neutral/sass/var/tab/Tab';
@import '../../../../../ext/classic/theme-neutral/sass/var/tab/Bar';
@import '../../../../../ext/classic/theme-neutral/sass/var/toolbar/Breadcrumb';
@import '../../../../../ext/classic/theme-neutral/sass/var/tree/View';
@import '../../../../../ext/classic/theme-neutral/sass/var/view/MultiSelector';
@import '../../../../../ext/classic/theme-neutral/sass/var/window/Toast';

/* including package theme-neptune */
$theme-neptune-resource-root: '' !default;
$theme-neptune-resource-path: 'images' !default;
$current-package: 'theme-neptune';
$current-resource-root: $theme-neptune-resource-root;
$relative-image-path-for-uis: $theme-neptune-resource-path;
@import '../../../../../ext/classic/theme-neptune/sass/var/Component';
@import '../../../../../ext/classic/theme-neptune/sass/var/LoadMask';
@import '../../../../../ext/classic/theme-neptune/sass/var/ProgressBar';
@import '../../../../../ext/classic/theme-neptune/sass/var/button/Button';
@import '../../../../../ext/classic/theme-neptune/sass/var/panel/Tool';
@import '../../../../../ext/classic/theme-neptune/sass/var/resizer/Splitter';
@import '../../../../../ext/classic/theme-neptune/sass/var/toolbar/Toolbar';
@import '../../../../../ext/classic/theme-neptune/sass/var/panel/Panel';
@import '../../../../../ext/classic/theme-neptune/sass/var/container/ButtonGroup';
@import '../../../../../ext/classic/theme-neptune/sass/var/window/Window';
@import '../../../../../ext/classic/theme-neptune/sass/var/form/Labelable';
@import '../../../../../ext/classic/theme-neptune/sass/var/form/field/Base';
@import '../../../../../ext/classic/theme-neptune/sass/var/form/field/Text';
@import '../../../../../ext/classic/theme-neptune/sass/var/form/field/Checkbox';
@import '../../../../../ext/classic/theme-neptune/sass/var/form/FieldSet';
@import '../../../../../ext/classic/theme-neptune/sass/var/toolbar/Paging';
@import '../../../../../ext/classic/theme-neptune/sass/var/view/BoundList';
@import '../../../../../ext/classic/theme-neptune/sass/var/picker/Date';
@import '../../../../../ext/classic/theme-neptune/sass/var/form/field/Display';
@import '../../../../../ext/classic/theme-neptune/sass/var/tip/Tip';
@import '../../../../../ext/classic/theme-neptune/sass/var/picker/Color';
@import '../../../../../ext/classic/theme-neptune/sass/var/form/field/Tag';
@import '../../../../../ext/classic/theme-neptune/sass/var/form/field/Trigger';
@import '../../../../../ext/classic/theme-neptune/sass/var/view/Table';
@import '../../../../../ext/classic/theme-neptune/sass/var/grid/header/Container';
@import '../../../../../ext/classic/theme-neptune/sass/var/grid/column/Column';
@import '../../../../../ext/classic/theme-neptune/sass/var/grid/column/Action';
@import '../../../../../ext/classic/theme-neptune/sass/var/grid/feature/Grouping';
@import '../../../../../ext/classic/theme-neptune/sass/var/menu/Menu';
@import '../../../../../ext/classic/theme-neptune/sass/var/grid/filters/Filters';
@import '../../../../../ext/classic/theme-neptune/sass/var/grid/plugin/RowEditing';
@import '../../../../../ext/classic/theme-neptune/sass/var/layout/container/Accordion';
@import '../../../../../ext/classic/theme-neptune/sass/var/layout/container/Border';
@import '../../../../../ext/classic/theme-neptune/sass/var/resizer/Resizer';
@import '../../../../../ext/classic/theme-neptune/sass/var/selection/CheckboxModel';
@import '../../../../../ext/classic/theme-neptune/sass/var/tab/Tab';
@import '../../../../../ext/classic/theme-neptune/sass/var/tab/Bar';
@import '../../../../../ext/classic/theme-neptune/sass/var/toolbar/Breadcrumb';
@import '../../../../../ext/classic/theme-neptune/sass/var/tree/View';
@import '../../../../../ext/classic/theme-neptune/sass/var/window/Toast';

/* including package theme-triton */
$theme-triton-resource-root: '' !default;
$theme-triton-resource-path: 'images' !default;
$current-package: 'theme-triton';
$current-resource-root: $theme-triton-resource-root;
$relative-image-path-for-uis: $theme-triton-resource-path;
@import '../../../../../ext/classic/theme-triton/sass/var/Component';
@import '../../../../../ext/classic/theme-triton/sass/var/LoadMask';
@import '../../../../../ext/classic/theme-triton/sass/var/ProgressBar';
@import '../../../../../ext/classic/theme-triton/sass/var/button/Button';
@import '../../../../../ext/classic/theme-triton/sass/var/panel/Tool';
@import '../../../../../ext/classic/theme-triton/sass/var/resizer/Splitter';
@import '../../../../../ext/classic/theme-triton/sass/var/toolbar/Toolbar';
@import '../../../../../ext/classic/theme-triton/sass/var/panel/Panel';
@import '../../../../../ext/classic/theme-triton/sass/var/container/ButtonGroup';
@import '../../../../../ext/classic/theme-triton/sass/var/window/Window';
@import '../../../../../ext/classic/theme-triton/sass/var/form/field/Base';
@import '../../../../../ext/classic/theme-triton/sass/var/window/MessageBox';
@import '../../../../../ext/classic/theme-triton/sass/var/form/field/Checkbox';
@import '../../../../../ext/classic/theme-triton/sass/var/form/FieldSet';
@import '../../../../../ext/classic/theme-triton/sass/var/toolbar/Paging';
@import '../../../../../ext/classic/theme-triton/sass/var/view/BoundList';
@import '../../../../../ext/classic/theme-triton/sass/var/picker/Date';
@import '../../../../../ext/classic/theme-triton/sass/var/tip/Tip';
@import '../../../../../ext/classic/theme-triton/sass/var/form/field/HtmlEditor';
@import '../../../../../ext/classic/theme-triton/sass/var/form/field/Tag';
@import '../../../../../ext/classic/theme-triton/sass/var/view/Table';
@import '../../../../../ext/classic/theme-triton/sass/var/grid/header/Container';
@import '../../../../../ext/classic/theme-triton/sass/var/grid/column/Column';
@import '../../../../../ext/classic/theme-triton/sass/var/grid/column/Action';
@import '../../../../../ext/classic/theme-triton/sass/var/grid/feature/Grouping';
@import '../../../../../ext/classic/theme-triton/sass/var/menu/Menu';
@import '../../../../../ext/classic/theme-triton/sass/var/grid/filters/Filters';
@import '../../../../../ext/classic/theme-triton/sass/var/grid/locking/Lockable';
@import '../../../../../ext/classic/theme-triton/sass/var/grid/plugin/RowExpander';
@import '../../../../../ext/classic/theme-triton/sass/var/layout/container/Accordion';
@import '../../../../../ext/classic/theme-triton/sass/var/layout/container/Border';
@import '../../../../../ext/classic/theme-triton/sass/var/selection/CheckboxModel';
@import '../../../../../ext/classic/theme-triton/sass/var/slider/Multi';
@import '../../../../../ext/classic/theme-triton/sass/var/tab/Tab';
@import '../../../../../ext/classic/theme-triton/sass/var/tab/Bar';
@import '../../../../../ext/classic/theme-triton/sass/var/tree/View';

/* including package theme-tradestorm */
$theme-tradestorm-resource-root: '' !default;
$theme-tradestorm-resource-path: 'images' !default;
$current-package: 'theme-tradestorm';
$current-resource-root: $theme-tradestorm-resource-root;
$relative-image-path-for-uis: $theme-tradestorm-resource-path;
@import '../../../../../packages/theme-tradestorm/sass/var/Component';
@import '../../../../../packages/theme-tradestorm/sass/var/button/Button';
@import '../../../../../packages/theme-tradestorm/sass/var/toolbar/Toolbar';
@import '../../../../../packages/theme-tradestorm/sass/var/panel/Panel';

/* including package ux */
$ux-resource-root: 'ux' !default;
$ux-resource-path: 'ux/images' !default;
$current-package: 'ux';
$current-resource-root: $ux-resource-root;
$relative-image-path-for-uis: $ux-resource-path;
@import '../../../../../ext/packages/ux/classic/sass/var/dashboard/GoogleRssView';
@import '../../../../../ext/packages/ux/classic/sass/var/layout/ResponsiveColumn';
@import '../../../../../ext/packages/ux/classic/sass/var/rating/Picker';

/* including package charts */
$charts-resource-root: 'charts' !default;
$charts-resource-path: 'charts/images' !default;
$current-package: 'charts';
$current-resource-root: $charts-resource-root;
$relative-image-path-for-uis: $charts-resource-path;
@import '../../../../../ext/packages/charts/sass/var/chart/AbstractChart';

/* including package TradeStorm */
$TradeStorm-resource-root: '' !default;
$TradeStorm-resource-path: 'images' !default;
$current-package: false;
$current-resource-root: $TradeStorm-resource-root;
$relative-image-path-for-uis: $TradeStorm-resource-path;
@import '../../../../../sencha_resources/sass/var/all';


/* ======================== RULE ======================== */

/* including package core */
$core-resource-root: '' !default;
$core-resource-path: 'images' !default;
$current-package: 'core';
$current-resource-root: $core-resource-root;
$relative-image-path-for-uis: $core-resource-path;
@import '../../../../../ext/packages/core/sass/src/util/SizeMonitor';
@import '../../../../../ext/packages/core/sass/src/util/PaintMonitor';
@import '../../../../../ext/packages/core/sass/src/util/Translatable';
@import '../../../../../ext/packages/core/sass/src/scroll/DomScroller';
@import '../../../../../ext/packages/core/sass/src/list/TreeItem';

/* including package theme-base */
$theme-base-resource-root: '' !default;
$theme-base-resource-path: 'images' !default;
$current-package: 'theme-base';
$current-resource-root: $theme-base-resource-root;
$relative-image-path-for-uis: $theme-base-resource-path;
@import '../../../../../ext/classic/theme-base/sass/src/scroll/TouchScroller';
@import '../../../../../ext/classic/theme-base/sass/src/rtl/util/Renderable';
@import '../../../../../ext/classic/theme-base/sass/src/Component';
@import '../../../../../ext/classic/theme-base/sass/src/layout/container/Container';
@import '../../../../../ext/classic/theme-base/sass/src/layout/container/Auto';
@import '../../../../../ext/classic/theme-base/sass/src/LoadMask';
@import '../../../../../ext/classic/theme-base/sass/src/ProgressBar';
@import '../../../../../ext/classic/theme-base/sass/src/button/Button';
@import '../../../../../ext/classic/theme-base/sass/src/button/Segmented';
@import '../../../../../ext/classic/theme-base/sass/src/panel/Title';
@import '../../../../../ext/classic/theme-base/sass/src/panel/Tool';
@import '../../../../../ext/classic/theme-base/sass/src/panel/Header';
@import '../../../../../ext/classic/theme-base/sass/src/resizer/Splitter';
@import '../../../../../ext/classic/theme-base/sass/src/layout/container/Box';
@import '../../../../../ext/classic/theme-base/sass/src/toolbar/Toolbar';
@import '../../../../../ext/classic/theme-base/sass/src/dd/DD';
@import '../../../../../ext/classic/theme-base/sass/src/dd/StatusProxy';
@import '../../../../../ext/classic/theme-base/sass/src/layout/component/Dock';
@import '../../../../../ext/classic/theme-base/sass/src/panel/Panel';
@import '../../../../../ext/classic/theme-base/sass/src/layout/container/Table';
@import '../../../../../ext/classic/theme-base/sass/src/container/ButtonGroup';
@import '../../../../../ext/classic/theme-base/sass/src/plugin/Viewport';
@import '../../../../../ext/classic/theme-base/sass/src/layout/container/Column';
@import '../../../../../ext/classic/theme-base/sass/src/resizer/SplitterTracker';
@import '../../../../../ext/classic/theme-base/sass/src/window/Window';
@import '../../../../../ext/classic/theme-base/sass/src/form/Labelable';
@import '../../../../../ext/classic/theme-base/sass/src/form/field/Text';
@import '../../../../../ext/classic/theme-base/sass/src/form/field/TextArea';
@import '../../../../../ext/classic/theme-base/sass/src/window/MessageBox';
@import '../../../../../ext/classic/theme-base/sass/src/form/field/Checkbox';
@import '../../../../../ext/classic/theme-base/sass/src/form/FieldSet';
@import '../../../../../ext/classic/theme-base/sass/src/view/View';
@import '../../../../../ext/classic/theme-base/sass/src/view/BoundList';
@import '../../../../../ext/classic/theme-base/sass/src/picker/Date';
@import '../../../../../ext/classic/theme-base/sass/src/form/field/Display';
@import '../../../../../ext/classic/theme-base/sass/src/form/trigger/Component';
@import '../../../../../ext/classic/theme-base/sass/src/form/field/File';
@import '../../../../../ext/classic/theme-base/sass/src/form/field/Hidden';
@import '../../../../../ext/classic/theme-base/sass/src/tip/Tip';
@import '../../../../../ext/classic/theme-base/sass/src/picker/Color';
@import '../../../../../ext/classic/theme-base/sass/src/form/field/HtmlEditor';
@import '../../../../../ext/classic/theme-base/sass/src/form/field/Tag';
@import '../../../../../ext/classic/theme-base/sass/src/layout/container/Fit';
@import '../../../../../ext/classic/theme-base/sass/src/panel/Table';
@import '../../../../../ext/classic/theme-base/sass/src/grid/header/DropZone';
@import '../../../../../ext/classic/theme-base/sass/src/grid/header/Container';
@import '../../../../../ext/classic/theme-base/sass/src/grid/column/Column';
@import '../../../../../ext/classic/theme-base/sass/src/grid/column/Action';
@import '../../../../../ext/classic/theme-base/sass/src/grid/column/Check';
@import '../../../../../ext/classic/theme-base/sass/src/grid/feature/Grouping';
@import '../../../../../ext/classic/theme-base/sass/src/grid/feature/RowBody';
@import '../../../../../ext/classic/theme-base/sass/src/menu/Menu';
@import '../../../../../ext/classic/theme-base/sass/src/grid/plugin/Editing';
@import '../../../../../ext/classic/theme-base/sass/src/grid/plugin/RowEditing';
@import '../../../../../ext/classic/theme-base/sass/src/grid/plugin/RowExpander';
@import '../../../../../ext/classic/theme-base/sass/src/grid/selection/SpreadsheetModel';
@import '../../../../../ext/classic/theme-base/sass/src/layout/container/Absolute';
@import '../../../../../ext/classic/theme-base/sass/src/layout/container/Border';
@import '../../../../../ext/classic/theme-base/sass/src/layout/container/Center';
@import '../../../../../ext/classic/theme-base/sass/src/layout/container/Form';
@import '../../../../../ext/classic/theme-base/sass/src/resizer/Resizer';
@import '../../../../../ext/classic/theme-base/sass/src/selection/CheckboxModel';
@import '../../../../../ext/classic/theme-base/sass/src/slider/Multi';
@import '../../../../../ext/classic/theme-base/sass/src/tab/Tab';
@import '../../../../../ext/classic/theme-base/sass/src/tab/Bar';
@import '../../../../../ext/classic/theme-base/sass/src/toolbar/Breadcrumb';
@import '../../../../../ext/classic/theme-base/sass/src/tree/View';

/* including package theme-neutral */
$theme-neutral-resource-root: '' !default;
$theme-neutral-resource-path: 'images' !default;
$current-package: 'theme-neutral';
$current-resource-root: $theme-neutral-resource-root;
$relative-image-path-for-uis: $theme-neutral-resource-path;
@import '../../../../../ext/classic/theme-neutral/sass/src/scroll/Indicator';
@import '../../../../../ext/classic/theme-neutral/sass/src/Component';
@import '../../../../../ext/classic/theme-neutral/sass/src/Editor';
@import '../../../../../ext/classic/theme-neutral/sass/src/LoadMask';
@import '../../../../../ext/classic/theme-neutral/sass/src/ProgressBar';
@import '../../../../../ext/classic/theme-neutral/sass/src/button/Button';
@import '../../../../../ext/classic/theme-neutral/sass/src/panel/Title';
@import '../../../../../ext/classic/theme-neutral/sass/src/panel/Tool';
@import '../../../../../ext/classic/theme-neutral/sass/src/panel/Header';
@import '../../../../../ext/classic/theme-neutral/sass/src/resizer/Splitter';
@import '../../../../../ext/classic/theme-neutral/sass/src/layout/container/Box';
@import '../../../../../ext/classic/theme-neutral/sass/src/toolbar/Toolbar';
@import '../../../../../ext/classic/theme-neutral/sass/src/panel/Panel';
@import '../../../../../ext/classic/theme-neutral/sass/src/container/ButtonGroup';
@import '../../../../../ext/classic/theme-neutral/sass/src/dashboard/Dashboard';
@import '../../../../../ext/classic/theme-neutral/sass/src/window/Window';
@import '../../../../../ext/classic/theme-neutral/sass/src/form/Labelable';
@import '../../../../../ext/classic/theme-neutral/sass/src/form/field/Text';
@import '../../../../../ext/classic/theme-neutral/sass/src/window/MessageBox';
@import '../../../../../ext/classic/theme-neutral/sass/src/form/field/Checkbox';
@import '../../../../../ext/classic/theme-neutral/sass/src/form/CheckboxGroup';
@import '../../../../../ext/classic/theme-neutral/sass/src/form/FieldSet';
@import '../../../../../ext/classic/theme-neutral/sass/src/form/trigger/Spinner';
@import '../../../../../ext/classic/theme-neutral/sass/src/toolbar/Paging';
@import '../../../../../ext/classic/theme-neutral/sass/src/view/BoundList';
@import '../../../../../ext/classic/theme-neutral/sass/src/picker/Date';
@import '../../../../../ext/classic/theme-neutral/sass/src/form/field/Date';
@import '../../../../../ext/classic/theme-neutral/sass/src/form/field/Display';
@import '../../../../../ext/classic/theme-neutral/sass/src/tip/Tip';
@import '../../../../../ext/classic/theme-neutral/sass/src/picker/Color';
@import '../../../../../ext/classic/theme-neutral/sass/src/form/field/HtmlEditor';
@import '../../../../../ext/classic/theme-neutral/sass/src/form/field/Tag';
@import '../../../../../ext/classic/theme-neutral/sass/src/view/Table';
@import '../../../../../ext/classic/theme-neutral/sass/src/view/DropZone';
@import '../../../../../ext/classic/theme-neutral/sass/src/grid/header/DropZone';
@import '../../../../../ext/classic/theme-neutral/sass/src/grid/header/Container';
@import '../../../../../ext/classic/theme-neutral/sass/src/grid/column/Column';
@import '../../../../../ext/classic/theme-neutral/sass/src/grid/column/Action';
@import '../../../../../ext/classic/theme-neutral/sass/src/grid/column/Check';
@import '../../../../../ext/classic/theme-neutral/sass/src/grid/column/RowNumberer';
@import '../../../../../ext/classic/theme-neutral/sass/src/grid/column/Widget';
@import '../../../../../ext/classic/theme-neutral/sass/src/grid/feature/Grouping';
@import '../../../../../ext/classic/theme-neutral/sass/src/grid/feature/RowBody';
@import '../../../../../ext/classic/theme-neutral/sass/src/grid/feature/Summary';
@import '../../../../../ext/classic/theme-neutral/sass/src/menu/Menu';
@import '../../../../../ext/classic/theme-neutral/sass/src/grid/filters/Filters';
@import '../../../../../ext/classic/theme-neutral/sass/src/grid/locking/Lockable';
@import '../../../../../ext/classic/theme-neutral/sass/src/grid/plugin/Editing';
@import '../../../../../ext/classic/theme-neutral/sass/src/grid/plugin/CellEditing';
@import '../../../../../ext/classic/theme-neutral/sass/src/grid/plugin/RowEditing';
@import '../../../../../ext/classic/theme-neutral/sass/src/grid/plugin/RowExpander';
@import '../../../../../ext/classic/theme-neutral/sass/src/grid/property/Grid';
@import '../../../../../ext/classic/theme-neutral/sass/src/grid/selection/SpreadsheetModel';
@import '../../../../../ext/classic/theme-neutral/sass/src/layout/container/Accordion';
@import '../../../../../ext/classic/theme-neutral/sass/src/layout/container/Border';
@import '../../../../../ext/classic/theme-neutral/sass/src/layout/container/Form';
@import '../../../../../ext/classic/theme-neutral/sass/src/resizer/Resizer';
@import '../../../../../ext/classic/theme-neutral/sass/src/selection/CheckboxModel';
@import '../../../../../ext/classic/theme-neutral/sass/src/slider/Multi';
@import '../../../../../ext/classic/theme-neutral/sass/src/sparkline/Base';
@import '../../../../../ext/classic/theme-neutral/sass/src/tab/Tab';
@import '../../../../../ext/classic/theme-neutral/sass/src/tab/Bar';
@import '../../../../../ext/classic/theme-neutral/sass/src/toolbar/Breadcrumb';
@import '../../../../../ext/classic/theme-neutral/sass/src/tree/View';
@import '../../../../../ext/classic/theme-neutral/sass/src/tree/ViewDropZone';
@import '../../../../../ext/classic/theme-neutral/sass/src/view/MultiSelector';
@import '../../../../../ext/classic/theme-neutral/sass/src/window/Toast';

/* including package theme-neptune */
$theme-neptune-resource-root: '' !default;
$theme-neptune-resource-path: 'images' !default;
$current-package: 'theme-neptune';
$current-resource-root: $theme-neptune-resource-root;
$relative-image-path-for-uis: $theme-neptune-resource-path;
@import '../../../../../ext/classic/theme-neptune/sass/src/button/Button';
@import '../../../../../ext/classic/theme-neptune/sass/src/dd/StatusProxy';
@import '../../../../../ext/classic/theme-neptune/sass/src/panel/Panel';
@import '../../../../../ext/classic/theme-neptune/sass/src/form/field/File';
@import '../../../../../ext/classic/theme-neptune/sass/src/form/field/HtmlEditor';
@import '../../../../../ext/classic/theme-neptune/sass/src/grid/header/Container';
@import '../../../../../ext/classic/theme-neptune/sass/src/grid/column/Column';
@import '../../../../../ext/classic/theme-neptune/sass/src/resizer/Resizer';

/* including package theme-triton */
$theme-triton-resource-root: '' !default;
$theme-triton-resource-path: 'images' !default;
$current-package: 'theme-triton';
$current-resource-root: $theme-triton-resource-root;
$relative-image-path-for-uis: $theme-triton-resource-path;
@import '../../../../../ext/classic/theme-triton/sass/src/Component';
@import '../../../../../ext/classic/theme-triton/sass/src/form/FieldSet';
@import '../../../../../ext/classic/theme-triton/sass/src/form/field/Tag';
@import '../../../../../ext/classic/theme-triton/sass/src/menu/Menu';
@import '../../../../../ext/classic/theme-triton/sass/src/tab/Tab';
@import '../../../../../ext/classic/theme-triton/sass/src/tree/View';
@import '../../../../../ext/classic/theme-triton/sass/src/window/Toast';

/* including package theme-tradestorm */
$theme-tradestorm-resource-root: '' !default;
$theme-tradestorm-resource-path: 'images' !default;
$current-package: 'theme-tradestorm';
$current-resource-root: $theme-tradestorm-resource-root;
$relative-image-path-for-uis: $theme-tradestorm-resource-path;
@import '../../../../../packages/theme-tradestorm/sass/src/list/TreeItem';
@import '../../../../../packages/theme-tradestorm/sass/src/button/Button';
@import '../../../../../packages/theme-tradestorm/sass/src/toolbar/Toolbar';
@import '../../../../../packages/theme-tradestorm/sass/src/panel/Panel';

/* including package ux */
$ux-resource-root: 'ux' !default;
$ux-resource-path: 'ux/images' !default;
$current-package: 'ux';
$current-resource-root: $ux-resource-root;
$relative-image-path-for-uis: $ux-resource-path;
@import '../../../../../ext/packages/ux/classic/sass/src/Explorer';
@import '../../../../../ext/packages/ux/classic/sass/src/GroupTabPanel';
@import '../../../../../ext/packages/ux/classic/sass/src/statusbar/StatusBar';
@import '../../../../../ext/packages/ux/classic/sass/src/LiveSearchGridPanel';
@import '../../../../../ext/packages/ux/classic/sass/src/TabScrollerMenu';
@import '../../../../../ext/packages/ux/classic/sass/src/colorpick/Selector';
@import '../../../../../ext/packages/ux/classic/sass/src/colorpick/Button';
@import '../../../../../ext/packages/ux/classic/sass/src/colorpick/Field';
@import '../../../../../ext/packages/ux/classic/sass/src/dashboard/GoogleRssView';
@import '../../../../../ext/packages/ux/classic/sass/src/form/ItemSelector';
@import '../../../../../ext/packages/ux/classic/sass/src/grid/SubTable';
@import '../../../../../ext/packages/ux/classic/sass/src/layout/ResponsiveColumn';
@import '../../../../../ext/packages/ux/classic/sass/src/rating/Picker';

/* including package charts */
$charts-resource-root: 'charts' !default;
$charts-resource-path: 'charts/images' !default;
$current-package: 'charts';
$current-resource-root: $charts-resource-root;
$relative-image-path-for-uis: $charts-resource-path;
@import '../../../../../ext/packages/charts/sass/src/chart/AbstractChart';
