// Overriding defaults
$base-color: dynamic(#414B54);
$grid-row-cell-selected-background-color: dynamic(#c3c6ce)
.mainlogo {
  color: #ffffff;
  font-size: 20px;
  left: 20px;
}



// Colors
$tw-header-color: dynamic(#404040)
